@import 'variables';

.HexHover {
  position: absolute;
  bottom: 0px;
  font-size: 26px;
  font-weight: 500;
  color: #6b7482;
  background-color:$bg-color;
  padding:12px;
  left: 0;
  text-align: center;
  width: calc(100% - 320px);
  font-family: $brandon;
  text-transform: uppercase;
}