//Screen Sizes
$bpoint-max: 2200px;
$bpoint-lrg: 1000px;
$bpoint-mid: 850px;
$bpoint-sml: 550px;


$font-family-base: 'HelveticaNeue', sans-serif;
$white-base: rgb(255, 255, 255);
$bg-color: #DEE8F5;
$paper: #fff;

//pebble {code} Colours
$ink: #6b7482;
$pink: #ed4f7e;
$purple: #9b5ca4;
$border-grey: lighten($ink, 42);

//Type
$base-font: 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif;
$museo: 'museo-sans', $base-font;
$brandon: 'brandon-grotesque', $base-font;

$beta: 22px;
$gamma: 20px;
$delta: 18px;
$epsilon: 16px;
$zeta: 14px;
$sub: 13px;
