@import 'variables';

.HexDropdown {
  // left: calc(50% - 293px);
  font-size: 16px;
  font-family: $museo;
  color:$ink;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;

  &::-ms-expand { /* for IE 11 */
    display: none;
  }
}

.dropdown-style {
  position: relative;
  float: left;
  min-width: 380px;
  padding-left:20px;

  @media screen and (min-width:$bpoint-mid) {
    margin-left: calc(50% - 40vw);
  }


  select {
    border-radius:0px;
    display: block;
    width: 100%;
    max-width: 380px;
    height: 39px;
    float: right;
    margin: 5px 0px;
    padding: 0px 15px;
    line-height: 1.75;
    background-color: #ffffff;
    background-image: none;
    border: 1px solid $border-grey;
    -ms-word-break: normal;
    word-break: normal;

    .ie9 & {
      margin:0px;
      padding-left: 5px;
      padding-right:0px;
    }
  }

  &:after {
    content: url(https://dl.dropboxusercontent.com/u/452318306/arrow.svg);
    right: 11px;
    top: 6px;
    height: 26px;
    padding: 11px 0px 0px 9px;
    border-left: 1px solid $border-grey;
    position: absolute;
    pointer-events: none;

    .ie9 & {
      content: '';
      border-left: 0px;
    }
  }
}




