@import 'variables';

.colour-key {
  position:absolute;
  margin-top:640px;
  font-family: $museo;
  color: $ink;
  margin-bottom:20px;
  margin-left: calc(50% - 40vw);


  @media screen and (max-width:$bpoint-mid) {
    margin-top:520px;
  }

  .key-part {
    width: 130px;
    height: 22px;
  }

  .key-left {
    background: linear-gradient(to right, #B51B47, #E85B46);
    float: left;
  }

  .key-right {
    background: linear-gradient(to right, #E85B46, #FDFDBC);
    float: left;
  }


}
  .left-label {
    left:-40px;
    position:absolute;
  }

  .right-label{
    position:absolute;
    margin-left:12px;
  }