@import 'variables';

.hex {
  &.ccg {
    cursor: pointer;

    .ccgTooltip {
      position: absolute;
      visibility: hidden;
      color:$ink;
      font-family: $museo;
      font-size:$zeta;
    }
  }

  &.ccg:hover {
    transform: scale(1.4);
    position: relative;
    z-index: 999;
    border-radius: 50%;
    box-shadow: 0 0 15px 10px rgba(hsl(200, 100, 20), .4), inset 0 0 0 10px rgba(hsl(220, 80, 30), .4);

    .ccgTooltip {
      visibility: visible;
      background-color: white;
      padding:5px 20px 5px 20px;
      border: 1px solid #ccc;
    }
    .ccgTooltip:after, .ccgTooltip:before {
      right: 100%;
      top: 50%;
      border: solid transparent;
      content: " ";
      height: 0;
      width: 0;
      position: absolute;
      pointer-events: none;
    }

    .ccgTooltip:after {
      border-color: rgba(255, 255, 255, 0);
      border-right-color: #ffffff;
      border-width: 10px;
      margin-top: -10px;
    }
    .ccgTooltip:before {
      border-color: rgba(204, 204, 204, 0);
      border-right-color: #ccc;
      border-width: 11px;
      margin-top: -11px;
    }



  }
}

