.InfoPanel {
  background-color: white;
  padding: 30px 20px 30px 10px;
  position: fixed;
  min-width: 300px;
  max-width: 300px; // FIXME: temporary for development
  height: 100%;
  top: 0;
  right: 0;
}

.InfoPanel:after {
  content: "";
  position: absolute;
  top: -40px;
  left: -30px;
  display: block;
  width: 80px;
  height: 110%;
  transform: rotate(-4deg);
  background-color: white;
  z-index: -1;
}

.what-is-this {
    position: fixed;
    right: 0;
    bottom: 0;
    padding: 10px;
    cursor: pointer;
}

.worsethan h3 {
    color: red;
}

.betterthan h3 {
    color: green;
}

.similarto h3 {
    color: #FD8D3C;
}