@import 'variables';
@import 'sprite';

.InfoPanel {
  background-color: white;
  padding: 30px 20px 30px 10px;
  position: fixed;
  min-width: 300px;
  max-width: 300px; // FIXME: temporary for development
  height: 100%;
  top: 0;
  right: 0;
}

.InfoPanel:after {
  content: "";
  position: absolute;
  top: -40px;
  left: -30px;
  display: block;
  width: 80px;
  height: 110%;
  transform: rotate(-4deg);
  background-color: white;
  z-index: -1;
}

.data-source {
    font-family: $museo;
    font-weight: 700;
    font-size:$zeta;
    text-decoration: underline;
    color: $purple;
    position: fixed;
    right: 0;
    bottom: 0;
    padding: 10px;
    cursor: pointer;
}
.cruk-logo {
  margin: 25px auto;
  position: relative;

  &:before {
    background: url('/img/cruk-sprite.svg');
    @include sprite($cancer-research-logo);
    content: "";
    display: block;
  }
}

.worsethan h3 {

}

.betterthan h3 {

}

.similarto h3 {

}
.star {
  color:$pink;
}


.topFiguresPanel {
    margin-top: 15px;
  .topFigureBox {
      width: 33%;
      display: inline-block;
      vertical-align: top;
      padding: 0%;
      font-size: 13px;
      .topFigure {
          font-size: 26px;
      }
  }
}


