.HexMap-container {
  width: 75%;
  float: left;
  overflow: hidden;
  transition: 0.2s;
}

.HexMap-info-container {
  width: 25%;
  float: left;
}

.HexMap h1 {
  margin: 0;
  padding: 40px 30px 10px;
  letter-spacing: -2px;
  font-size: 38px;
}

.map {
  z-index: -5;
  margin-top: -331px;
  padding-top:0px;
  width: auto;
  height: auto;
  position: absolute;
  font-size: 70%;
  display: table;
  top: 700px;
  left: calc(50% - 150px);
  transform: translate(-50%, -50%);
}

.hex-row {
  clear: left;
}
